Package: midieditor
Version: {VERSION}-{PACKAGE}
Section: sound
Priority: extra
Architecture: {ARCHITECURE}
Depends: {DEPENDS}
Installed-Size: {SIZE}
Maintainer: Markus Schwenk <kontakt@markus-schwenk.de>
Homepage: https://midieditor.org/
Description: Graphical interface to edit, play, and record Midi data.
 MidiEditor is a free software providing an interface to edit,
 record, and play Midi data.
 .
 The editor is able to open existing Midi files and modify their
 content. New files can be created and the user can enter his own
 composition by either recording Midi data from a connected Midi device
 (e.g., a digital piano or a keyboard) or by manually creating new
 notes and other Midi events. The recorded data can be easily
 quantified and edited afterwards using MidiEditor.
 .
 MidiEditor was developed by Markus Schwenk. It is entirely written in C++ (Qt)
 and is available for the platforms Linux and Windows.
